html, body {
  overflow-x:hidden;
}
body {
  font-family: "Droid Sans", Helvetica, sans-serif;
  color: #353339;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Droid Sans", Helvetica, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 100;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}
@media (min-width:375px) {
  .container {
    width:240px;
  }
}
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width:970px;
  }
  .one-half {
    width:46%;
  }
  .one-third {
    width:29.33333%;
  }
  .one-fourth {
    width:21%;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

/* HEADER */
header {
  color:#353339;
}
header nav {
  padding:1em 0;
}
header nav ul {
  display:inline;
  text-align:right;
  float:right;
  margin:0;
}
header nav ul>li {
  list-style-type:none;
  display:inline-block;
  margin:0 15px;
}
header nav ul>li.btn-outline {
  padding:10px 15px;
  border:2px solid #ffffff;
  border-radius:4px;
}
header nav ul>li.btn-outline:hover {
  background:#ffffff;
}
header nav ul>li>a {
  color:#ffffff;
  text-decoration:none;
}
header nav ul>li.btn-outline:hover>a {
  color:#34495e;
}
header .hero {
  text-align:left;
  display:block;
  position:relative;
}
header .hero h1 {
  font-size:48px;
  font-weight:normal;
  margin:95px 0 0;
}
header .hero p {
  font-size:22px
  line-height:26px;
  font-weight:100;
  margin:10px 0 40px;
}
header .hero img {
  display:block;
  margin:3em auto 0;
  /*background: url(images/dashboard.png) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover; */
}

/* BUTTONS */
.btn {
  border-radius: 4px;
  color: #ffffff;
  font-weight:700;
  text-decoration:none;
  padding:10px 30px;
  background:#e64d2c;
  border; 2px solid #2ecc71;
  box-shadow: 0px 2px 0px 0px #000000;
}

/* SCREENSHOT */
.screenshot h2 {
  color:#e64d2c;
  text-align:center;
  font-size:36px;
  padding-top:30px;
}
.screenshot img {
  margin: 0 auto;
  display:block;
  padding-top:30px;
}

/* BENEFITS */
/*.benefits {
  text-align:center;
  display:block;
  position:relative; 
} */
.benefits {
  margin: 0 auto;
  padding:4em 0;
} 
.Createnotes img {
  position: absolute;
  right:0;
}
.benefits h2 {
  color: #e64d2c;
  font-size:36px;
}
.benefits p {
  font-size:20px;
  color:#353339;
  text-align:left;
}
.benefits h2 p {
  float:left;
}

/* PRICING */
.pricing {
  background:#2b292f url("../images/background.png")top center no-repeat;
  background:url("../images/background.png")top center no-repeat, linear-gradient(206deg, #454a5a 0%, #2b292f 94%);
  background-size:cover;
  text-align:center;
  padding:4em 0;
}
.pricing h2, .pricing p {
  color:#F7F7F7;
}
.pricing ul {
  margin:0 auto;
  padding:2em 0;
}
.pricing ul li {
  list-style-type: none;
}
.box {
  padding:0 15px 15px;
  background: #ffffff;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 439px;
  position:relative;
  margin-top:25px;
}
.box.middle {
  min-height:485px;
  margin-top:0px;
}
.box h3 {
  font-family: "Droid Sans", Helvetica, sans-serif;
  font-weight:600;
  text-transform:uppercase;
  background:#e2e2e2;
  box-shadow:0px 1px 2px 0px rgba(0,0,0,0.40);
  left:0;
  right:0;
  top:0;
  text-align:center;
  margin:0 -15px 40px;
  padding:10px 0;
}
.box h4 {
  font-size:50px;
  font-weight: normal;
  margin:40px 0 10px;
  color:#e64d2c;
}
.box h4 span {
  font-size:32px;
  vertical-align:top;
}
.box h4 span.month {
  font-family: "Droid Sans", Helvetica, sans-serif;
  font-weight:100;
  color:#888888;
  font-size:20px;
  vertical-align:middle;
}
.box ul li {
  font-size:18px;
  margin-bottom:20px;
  font-weight:100;
}
.box .btn {
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
}
.small {
  font-size:12px;
  color: #fefefe
  line-height:15px;
  font-style:italic;
}

/* TESTIMONIALS */
.testimonialquotes {
  padding.4em 0;
  text-align:center;
}
.testimonials h2 {
  color:#e64d2c;
}
.testimonials p {
  color:#353339;
  font-size:16px;
}
.testimonialquotes ul li {
  list-style-type:none;
}
.testimonialquotes blockquote {
  color:#F7F7F7;
  text-align:left;
  font-style:italic;
  background:#2b292f;
  position:relative;
  padding:30px;
  width:auto;
  margin:0;
}
.testimonialquotes blockquote:after {
  top:100%;
  left:13%;
  border:solid transparent;
  content:" ";
  height:0;
  width:0;
  position:absolute;
  pointer-events:none;
  border-top-color:#2b292f;
  border-width:10px;
  margin-left:-10px;
}
.testimonialquotes img {
  height: 65px;
  width:65px;
  border-radius:50%;
  float:left;
  display:inline-block;
  margin:20px 10px 0 0;
}
.testimonialquotes p.name {
  float:left;
  display:inline-block;
  text-align:left;
  font-size:13px;
  margin-top:30px;
}
.testimonials img {
  display: block;
  margin: 0 auto;
  padding-top:20px;
  padding-bottom:30px;
}
.testimonials {
  padding-top:30px;
  text-align:center;
}

/* SIGN UP*/
.signup2 h2 {
  padding-top:50px;
}

/* FOOTER */
footer {
  background-color: #454a5a;
  background-image:linear-gradient(to top, #2b292f 0%, #2b292f 50%, #454a5a 50%, #454a5a 100%);
  color: #ffffff;
  height:150px;
  position:relative;
  overflow:hidden;
  z-index:0;
}
footer p, footer nav ul {
  font-size:14px;
  font-weight:100;
  text-align:center;
  margin:10px auto 0;
}
footer nav ul li {
  list-style-type:none;
  display:inline;
}
footer nav ul li a {
  color: #ffffff;
  text-decoration:none;
}
footer .right-footer-block {
  background-color:transparent;
}
footer .logo {
  padding:2.35em 0;
  margin:0 auto;
  display:block;
}
 @media (min-width:992px) {
  footer {
    background-color:#2b292f;
    background-image:linear-gradient(to left, #2b292f 0%, #2b292f 33.33337%, #454a5a 33.33337%, #454a5a 100%);
    height:100px;
  } 
  footer p, footer nav ul {
    padding:2em 0;
    text-align:left;
  }
  footer .right-footer-block {
    background-color: #2b292f;
  }
 footer .logo {
    padding: 2em 0 2em 1.5em;
  }
} 

/* DASHBOARD */
.dashboard {
  background:#f7f7f7;
}
.left-nav {
  height:110vh;
  width:14.66666667%;
  color:#ffffff;
  background:#353339;
  background-image:linear-gradient(206deg, #454a5a 0%, #2b292f 94%);
  float:left;
  position:fixed;
  display:block;
}
.left-nav .site-logo {
  padding:20px 0; 
  background:#2b292f;
  display:block;
  text-align:center;
}
.left-nav .items {
  padding: 0 6%;
}
.left-nav .items p {
  font-weight:600;
  text-transform:uppercase;
  font-size:12px;
  color:#e2e2e2;
  line-height:15px;
}
.left-nav .items ul {
  margin: 0 0 40px;
  padding:0;
}
.left-nav .items ul li {
  list-style-type:none;
  margin-bottom:15px;
}
.left-nav .items ul li a {
  color:#ffffff;
  text-decoration:none;
  font-weight:100;
}
.left-nav .items ul li a i {
  width:16px;
  text-align:center;
  margin-right:8px;
}
/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
  position:absolute; 
  background:#2b292f;
  width:100%;
  bottom:0;
  left:0;
  right:0;
  padding: 70px 0;
}
.left-nav .settings img {
  height:35px;
  width:35px;
  border-radius:50%;
  margin-left:20px;
  margin-bottom:70px;
  display:inline-block;
}
.left-nav .settings p {
  display:inline-block;
  vertical-align:top;
  padding-top:8px;
  font-weight:400;
  margin: 0 0 0 10px;
}
.left-nav .settings a {
  color:#e2e2e2;
  text-decoration:none;
  text-align:right;
  float:right;
  margin-right:20px;
  margin-top:8px;
}

/* CONTENT */
.header {
  padding-bottom:80px;
  padding-top:20px;
}
.content {
  padding: 6em 1% 1.5;
  float:right;
  width:98%;
  position:relative;
}
.content .header {
  margin: 0 1% 20px;
}
.content .header h1 {
  font-family: "Droid Sans", Helvetica, sans-serif;
  font-weight:100;
  margin: 0 0 30px;
  font-size:36px;
  color:#e64d2c;
  line-height:44px;
  float:left;
  display:inline-block;
}
/*.content .header > a {
  float:right; 
} */
.btn {
  position:relative;
  float:left;
  margin-left:20px;
}
.content-item {
  width:96%;
  margin: 0 2% 25px;
  float:left;
  display:block;
}
.item-box {
  display:block;
  height:230px;
  background:#ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
  position:relative;
  overflow:hidden;
  padding:20px;
}

/* Larger Mobile Devices */
@media (min-width:460px) {
  .content {
    padding: 1.5em 1%;
    float:right;
    width:90%;
    position:relative;
  }
  .content-item {
    width:46%;
    margin: 0 2% 25px;
    float:left;
    display:block;
  }
}

/* Tablets */
@media (min-width:768px) {
  .content {
    padding: 1.5em 5%;
    float:right;
    width: 90%;
    position:relative;
  }
  .content > .container {
    width: 700px;
  }
  .content-item {
    width:31.33333%;
    margin: 0 1% 25px;
  }

  /* Laptops and Desktops */
  @media (min-width:992px) {
    .content {
      padding: 1.5em 1%;
      float: right;
      width: 83.33333333%;
      position:relative;
    }
    .content > .container {
      width:auto;
    }
    .content-item {
      width: 23%;
      margin: 0 1% 25px;
    }
  }
}
.item-box > img {
  position:absolute;
  height:100%;
  width:auto;
  top:0;
  left:0;
  right:0;
}
.item-box h2 {
  font-family:"Droid Sans", Helvetica, sans-serif;
  font-size:15px;
  font-weight:700;
  line-height:17px;
  margin:0;
}
.item-box h2 a {
  color:#e64d2c;
  text-decoration:none;
}
.item-box h2 img {
  width:16px;
  height:16px;
  position:relative;
  top:2px;
  margin-right:5px;
}
.item-box p {
  font-size:14px;
  color:#353339;
  line-height:18px;
  margin:5px 0 0;
}